@media screen and (min-width: 769px){
  body{
    margin: 0;
    padding: 0;
    background-color: rgb(38, 35, 40);
  }

  .fixed {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 10000;
  }

  .wrapper{
    width: 100%;
  }

  .tweet{
    margin-top: 70px;
  }

  .message{
    height: 800px;
    color: #ffffff;
    font-size: 5em;
    text-align: center;
    background: linear-gradient(#05FBFF, rgb(38, 35, 40));
    font-family: 'OmnibusRegular';
    font-weight: normal;
    font-style: normal;
  }

  .set{
    position: absolute;
    top: 200px;
    left: 100px;
  }

  li{
    list-style: none;
  }

  a{
    color: rgb(53, 178, 232);
  }

  .bar{
    color: #ffffff;
    text-decoration: none;
  }

  .select{
    padding-left: 0;
    margin: 0px;
    font-size: 2em;
  }

  .contents{
    color: white;
    text-align: center;
  }

  .typed-cursor{
    display: none;
  }

  .contents h1{
    font-size: 5em;
    font-family: 'OmnibusRegular';
    font-weight: normal;
    font-style: normal;
  }

  .margin{
    margin-top: 300px
  }

  .english{
    font-style: oblique;
  }
  .t-color{
    color: #00aced;
    margin-right: 70px;
    margin-bottom: 100px;
  }
  .f-color{
    color: #3b5998;
    margin-right: 70px;
  }

  .g-color{
    color: #d34836;
    margin-right: 70px;
  }

  .gh-color{
    color: #ffffff;
  }

  .c-color{
    color: #4CAF50;
  }

  .s-color{
    color: #FFEB3B;
  }

  .l-color{
    color: #FF9800;
  }

  .co-color{
    color: #E91E63;
  }

  .se-color{
    color: #2196F3;
  }

  footer{
    color: #ffffff;
    text-align: center;
    font-family: 'OmnibusRegular';
    font-weight: normal;
    font-style: normal;
  }

  .color-one{
    color: #d34836;
  }

  .color-two{
    color: #4CAF50;
  }

  .color-three{
    color: #00aced;
  }

  .color-four{
    color: #FF9800;
  }

  .color-five{
    color: #E91E63;
  }
}
