@import url('https://fonts.googleapis.com/css?family=Pacifico');
body {
  margin: 0;
  font-family: 'Pacifico', cursive;
}

.sns {
  display: flex;
  flex-direction: row;
}

.item {
  color: white;
  padding: 10px;
  flex-grow: 1;
  text-align: center;
  position: relative;
}

.tw {
  background-color: #1da1f2;
}

.fb {
  background-color: #3b5998;
}

.gh {
  background-color: #333;
}

.sp {
  background-color: #2ebd59;
}

.top {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

@media (max-width: 800px) {
  h1 {
    font-size: 10vw;
  }
}

@media (min-width: 801px) {
  h1 {
    font-size: 5vw;
  }
}

.item a {
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
