@import url(https://fonts.googleapis.com/css?family=Coming+Soon);

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Coming Soon', cursive;
}

header {
  height: 100%;
}

header h1 {
  margin-top: 0;
  padding-top: 250px;
  padding-left: 20%;
  font-size: 5em;
}

del {
  text-decoration: none;
}

.intro {
  margin: 0 auto;
  width: 80%;
}

.intro h1 {
  font-size: 3em;
}

.intro img {
  padding: 0 auto;
  width: 30%;
  border-radius: 50%;
}

.center {
  text-align: center;
}

.status {
  margin: 0 auto;
  width: 50%;
  height: 500px;
  font-size: 2em;
  margin-bottom: 100px;
}

li {
  list-style: none;
  margin-bottom: 10px;
}
