@import url(https://fonts.googleapis.com/css?family=Quicksand:700,400);

/* = reset */
 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  line-height: 1.4;
  vertical-align: baseline;
  background: transparent;
}

body {
  margin: 0;
  padding: 0;
  background-color: #23c494;

  line-height: 1.4;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader {
  height: 10px;
  background-color: #000;
  position: absolute;
}

.content {
  height: 100%;
  width: 100%;
  display: none;
}

video {
  width: 100%;
  height: 100%;
}

.parent {
  position: relative;
}

#title {
  color: #3a5353;
  visibility: hidden;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 30%;
  font-size: 5em;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

/* apply a natural box layout model to all elements */
*, *:before, *:after { box-sizing: border-box;
 }

/* = html5 tag render */
 article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

#shell {
  visibility: hidden;
  color: #18a749;
  font-size: 1.5em;
  margin: 5% 10% 10% 10%;
  background-color: #334E5C;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
      align-self: center;
      min-height: 22.5rem;
      border-radius: 10px;
      box-shadow: 0 0.625rem 3.125rem rgba(0,0,0,0.19), 0 0.375rem 3.125rem rgba(0,0,0,0.23);
}

#myTypingText {
  margin-top: 0.075rem;
  font-size: .75em;
  line-height: 1.7;
  letter-spacing: 0.04375rem;
  padding: 0px 0.275rem;
}

span.name {color: #56A6D8;}
span.atName {color: #EDF1F2;}
span.atildi {color: #F2952B;}

nav {
  height: 1.5rem;
  background-color: #ecf0f1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-left: 6px;
}

nav ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul li {
  list-style: none;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-left: 6px;
}

nav ul li.red {background-color: #c0392b;}
nav ul li.yellow {background-color: #f39c12;}
nav ul li.green {background-color: #16a085;}

.message {
  text-align: center;
  padding-bottom: 5%;
  font-size: 3em;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  border-bottom: solid 30px;
  border-color: white;
}

.me {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 30%;
  height: 30%;
  max-width: 200px;
  height: auto;
  border-radius: 50%;
}

.about {
  background-color: #2ce3de;
}

.title-line {
  margin: 0 auto;
  margin-bottom: 5%;
  background-color: #000;
  width: 20%;
  height: 3px;
}

h1 {
  text-align: center;
  padding-top: 5%;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 5em;
}

.me-img {
  text-align: center;
}

.intro {
  width: 50%;
  padding-bottom: 5%;
  margin: 0 auto;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  font-size: 2em;
}

.logics {
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
}

.list-contents {
  width: 80%;
  margin: 0 auto;
}

.think {
  background-color: #964ada;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
}

.set {
  position: relative;
  display: inline-block;
  margin: 5% 10px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.and-more {
  margin-left: 70%;
  margin-bottom: 5%;
  font-size: 3em;
  font-weight: bold;
}

.portfolio {
  background-color: #e86f90;
}

.img-size {
  width: 300px;
  height: auto;
}

.sentence {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 5%;
}

.next {
  background-color: #ff6f29;
}

.pc-icon {
  padding-left: 15%;
  font-size: 200px;
  float: left;
}

.challenge {
  padding-top: 5%;
  margin-left: 40%;
  margin-bottom: 5%;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  font-size: 2em;
}

.contact {
  background-color: #f7fb3b;
}

.sns {
  text-align: center;
  margin-bottom: 5%;
  font-size: 7em;
}

.fa-twitter {
  color: #00aced;
  text-decoration: none;
}

.fa-facebook-official {
  color: #305097;
  text-decoration: none;
}

.fa-github {
  color: #000;
  text-decoration: none;
}

.copyright {
  float: left;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
}
