body{
  margin: 0;
}
a{
  text-decoration: none;
}
.container{
	width: auto;
	padding: 5px 15px;
	margin: 0 auto;
}
header{
  display: none;
	height: 150px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	position:fixed;
  top:0;
  position:fixed;
}
.header-center{
	text-align: center;
  color: white;
}
.topics{
	padding: 0px 30px;
  text-align: center;
}
.set{
	float: left;
	width: 20%;
}
.btn{
	width: 120px;
	display:inline-block;
	background-color: rgb(189, 255, 0);
	opacity: 0.7;
	padding: 5px 5px;
	border-radius: 5px;
}
.btn p{
  opacity: 1;
}
.btn:hover{
	opacity: 1;
}
.top-wrapper{
  height: 1000px;
  padding: 200px 0 150px 0;
  text-align: center;
  color: white;
  background-image: url(img/code.png);
  background-size: cover;
}
.top-wrapper h1{
  font-size: 100px;
}
#welcome{
  display: none;
}
#please{
  display: none;
}
.sentence{
  text-align: center;
}
.sentence li{
  list-style-type: none;
}
.explain{
  display: none;
}
.explain.active{
  display: block;
}
