body{
  margin: 0;
  padding: 0;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    background-color: rgba(27, 14, 110, 0.7);
}

.wrapper{
  width: 100%;
}

.message{
  height: 700px;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  background-color: #000000;
}

.set{
  position: absolute;
  top: 200px;
  right: 300px;
}

ul{
  padding-left: 0;
  margin: 0px;
  font-size: 2em;
}

li{
  border-bottom: 1px solid rgb(179, 179, 179);
  padding: 10px 0;
  color: white;
  background-color: rgb(27, 14, 110);
  list-style: none;
  float: left;
  width: 20%;
  text-align: center;
  cursor: pointer;
}

li:hover{
  background-color: rgb(27, 80, 237);
}

.test{
  margin: 1000px;
}
