@import url('https://fonts.googleapis.com/css?family=Barrio');

html {
  font-family: 'Barrio', cursive;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

header {
  background-color: #7a7a7a;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 30px 0 #a4a4a4;
}

#logo {
  color: white;
  padding-left: 100px;
  //background-color: red;
}

#menu {
  width: 100%;
  height: 100%;
  margin-right: 100px;
  //background-color: blue;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#menu ul {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
}

#menu li {
  height: 100%;
  font-weight: bold;
  margin-left: 50px;
  display: inline-block;
  transition: .2s
}

#menu li:hover {
  font-size: 1.5em;
}

#menu a {
  color: white;
  text-decoration: none;
}

video {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  background-size: cover;
}

.first-image {
  background-image: url('img.jpg');
}

.second-image {
  background-image: url('wave.jpg');
}

.message {
  padding: 10px;
  background-color: black;
  font-size: 4em;
  color: white;
}

footer {
  color: white;
  padding-top: 50px;
  text-align: center;
  background-color: #7a7a7a;
}

footer ul {
  margin-top: 200px;
}

footer li {
  width: 20%;
  display: inline-block;
  transition: .2s;
}

footer li:hover {
  background-color: #5c5c5c;
}

footer a {
  color: white;
  font-size: 2em;
  text-decoration: none;
}

#copyright {
  margin-top: 100px;
}

.wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 80%;
  margin: 0 auto;
}

.intro {
  display: flex;
  align-items: center;
}

.face-image {
  flex-grow: 1;
}

.face-image img {
  width: 300px;
  border-radius: 100%;
}

.name {
  flex-grow: 3;
  font-size: 3em;
}

.description {
  margin-top: 100px;
}
